<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header/header.css">
    <link rel="stylesheet" href="/footer/footer.css">
    <link rel="stylesheet" href="/brands.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="page-content">
        <%- include('./partials/header'); %>
            <section class="hero">
                <h1>
                    <%= title %>
                </h1>
                <div class="brands-container">
                    <% brands.forEach(brand=> { %>
                        <div class="card">
                            <img src="/<%= brand.image_url %>" alt="<%= brand.name %> logo" />
                            <a href="/brands/<%= brand.id %>"></a>
                            <p>
                                <%= brand.name %>
                            </p>
                        </div>
                        <% }); %>
                </div>
            </section>
    </div>

    <%- include('./partials/footer'); %>
</body>

</html>